@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
}

:root {
  --main-color: #85cd30;
  --main-font: "Poppins", sans-serif;
  --kor-font: "Noto Sans KR", sans-serif;
  --back-font: "Permanent Marker", cursive;
}

.display_none {
  display: none;
}
.display_block {
  display: block;
}
.topBtn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: 100;
}
.topBtn i {
  font-size: 1.8rem;
  color: #999;
  text-shadow: -0.5px -1.5px 1px #00000012;
}
.title {
  opacity: 0;
  font-family: var(--main-font);
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
.title_anim {
  animation: titleAnim 0.5s 1s ease-in-out forwards;
}
@keyframes titleAnim {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#wrap {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  height: 3.75rem;
  padding: 1.25rem 0;
  z-index: 100;
}
header .header-wrap {
  background-color: #ffffffa3;
  width: 90%;
  margin: 0 auto;
  border-top: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
}
nav {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  /* border-bottom: 1px solid #000; */
}
nav .logo {
  font-size: 1.6rem;
}
nav ul li {
  cursor: pointer;
}
nav ul.pc_ul {
  display: flex;
  font-size: 1rem;
}
nav ul.pc_ul li {
  position: relative;
  padding: 0 1rem;
  color: #000;
  font-weight: 100;
}
nav ul.pc_ul li:hover::after {
  display: block;
}
nav ul.pc_ul li::after {
  content: ".";
  font-weight: 700;
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.mobile_nav_div {
  position: relative;
  width: 7rem;
}
nav button.hamburgerBtn {
  display: none;
  margin-left: auto;
}
nav ul.mobile_ul {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: right;
}
nav ul.mobile_ul li {
  display: inline-block;
  line-height: 4rem;
}

/* footer */
footer {
  width: 100%;
  height: 15rem;
  margin: 2rem 0;
}
footer .footer_wrap {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

footer .footer_wrap h1 {
  margin-bottom: 1.5rem;
}

footer .footer_wrap div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

footer .footer_wrap div ul li:first-child {
  font-size: 1.4rem;
}
footer .footer_wrap div ul li:last-child {
  font-weight: 300;
  font-family: var(--kor-font);
}

footer .footer_wrap p {
  font-size: 0.9rem;
  font-weight: 200;
  text-align: center;
}

@media (max-width: 480px) {
  html {
    font-size: 53.5%;
  }
  /* section - main_greeting */
  .main_greeting article {
    width: 85vw;
    text-align: center;
  }
  .main_greeting .titleL {
    font-size: 6rem;
  }

  /* section - about */
  section#about {
    height: fit-content !important;
  }
  section#about .about_wrap .content {
    flex-direction: column;
  }
  section#about .about_wrap .content aside {
    width: auto;
    margin-bottom: 1.8rem;
  }
  section#about .about_wrap .content article {
    width: auto;
    padding-left: 1.5rem;
  }
  /* section - project */
  section#project .project_list {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  section#project .project_list li {
    width: 100%;
    margin: 1rem 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
  /* nav */
  nav ul.pc_ul {
    display: none;
  }
  .mobile_nav_div {
    display: block;
  }
  .mobile_nav_div button.hamburgerBtn {
    display: block;
  }

  /* section - main */
  .main_greeting article {
    width: 85vw;
    margin: 0 auto;
  }
  .main_greeting .holo_graphic .noise .titleL {
    font-size: 6rem;
    line-height: 7rem;
  }

  /* section - about */
  #information .info_wrap .title {
    margin-bottom: 3rem !important;
  }
  section#information .flexBox {
    flex-direction: column;
  }
  section#information .flexBox ul {
    margin: 1rem 0;
  }
  #information .info_wrap .flexBox li span {
    display: block;
  }

  /* section - project */
  section .project_list {
    width: 100%;
  }
  section .project_list li {
    max-width: 310px;
    margin-bottom: 5.5rem;
  }

  /* footer */
  footer .footer_wrap div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  footer .footer_wrap div ul {
    margin-bottom: 0.5rem;
  }
}
