@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
}

:root {
  --main-color: #85cd30;
  --main-font: "Poppins", sans-serif;
  --kor-font: "Noto Sans KR", sans-serif;
  --back-font: "Permanent Marker", cursive;
}

.display_none {
  display: none;
}
.display_block {
  display: block;
}
.title {
  font-family: var(--main-font);
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
#wrap {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  height: 3.75rem;
  background-color: #ffffffa3;
  padding: 1.25rem 0;
  z-index: 100;
}
nav {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}
nav .logo {
  font-size: 1.6rem;
}
nav ul li {
  cursor: pointer;
}
nav ul.pc_ul {
  /* width: 30%; */
  display: flex;
  font-size: 1rem;
}
nav ul.pc_ul li {
  position: relative;
  display: inline-block;
  /* width: 25%; */
  padding: 0 1rem;
  text-align: center;
  color: #000;
}
nav ul.pc_ul li:hover::after {
  display: block;
}
nav ul.pc_ul li::after {
  content: ".";
  font-weight: 700;
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.mobile_nav_div {
  position: relative;
  width: 4rem;
  text-align: center;
}
nav button.hamburgerBtn {
  display: none;
  margin: 0 auto;
}
nav ul.mobile_ul {
  position: absolute;
  z-index: 10;
  width: 100%;
}
nav ul.mobile_ul li {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
}
nav ul.mobile_ul li:hover span {
  background: linear-gradient(135deg, #359ab6 0%, #aae95f 100%);
}
nav ul.mobile_ul li span {
  text-shadow: 0.2px 0.2px 1px;
  display: inline-block;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background: linear-gradient(135deg, #aae95f 0%, #359ab6 100%);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* footer */
footer {
  width: 100%;
  height: 15rem;
  margin: 2rem 0;
}
footer .footer_wrap {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

footer .footer_wrap h1 {
  margin-bottom: 1.5rem;
}

footer .footer_wrap div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

footer .footer_wrap div ul li:first-child {
  font-size: 1.4rem;
}
footer .footer_wrap div ul li:last-child {
  font-weight: 300;
  font-family: var(--kor-font);
}

footer .footer_wrap p {
  font-size: 0.9rem;
  font-weight: 200;
  text-align: center;
}

@media (max-width: 480px) {
  html {
    font-size: 53.5%;
  }
  /* article */
  .main_greeting article {
    width: 85vw;
    text-align: center;
  }
  .main_greeting .titleL {
    font-size: 6rem;
  }

  /* section - project */
  section#project .project_list {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  section#project .project_list li {
    width: 100%;
    margin: 1rem 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
  /* nav */
  nav ul.pc_ul {
    display: none;
  }
  .mobile_nav_div {
    display: block;
  }
  .mobile_nav_div button.hamburgerBtn {
    display: block;
  }

  /* article */
  .main_greeting article {
    width: 85vw;
  }
  /*
  .main_greeting .desc {
    font-size: 1.1rem;
  }
  .main_greeting .titleS {
    font-size: 1.75rem;
  }
  .main_greeting .titleL {
    line-height: 140px;
  } */

  /* section - project */
  section .project_list {
    width: 100%;
  }
  section .project_list li {
    max-width: 310px;
    margin-bottom: 5.5rem;
  }

  /* footer */
  footer .footer_wrap div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  footer .footer_wrap div ul {
    margin-bottom: 0.5rem;
  }

  /* topBtn */
  .topBtn {
    right: 3rem !important;
  }
}
