.topBtn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: 100;
}
.topBtn i {
  font-size: 1.8rem;
  color: var(--main-color);
  text-shadow: -0.5px -1.5px 1px #00000012;
}

section {
  /* max-width: 1520px; */
  width: 100%;
  height: 100vh;
}

/* section1 */

section.main_greeting {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_wrap {
}
.main_greeting article {
  opacity: 0;
  animation: fadeIn 0.1s ease-in 1s forwards;
}
.titleS {
  opacity: 0;
  font-size: 1.75rem;
  font-weight: 600;
  animation: fadeIn 0.5s ease-in 1s forwards;
}
.desc {
  opacity: 0;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: var(--kor-font);
  animation: fadeIn 0.8s ease-in 1s forwards;
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
/* holo graphic */
.titleL {
  margin: 3rem 0;
  font-size: 8rem;
  font-weight: 800;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 1.5s;
  animation-name: cube-rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  background-color: #faf7f5eb;
}
@keyframes cube-rotate {
  from {
    transform: perspective(600px) rotate3d(0.6, 0.05, 0.2, 0deg);
  }

  to {
    transform: perspective(600px) rotate3d(0.6, 0.05, 0.2, 20deg);
  }
}
@keyframes shimmer {
  from {
    filter: contrast(190%) brightness(500%);
  }

  to {
    filter: contrast(190%) brightness(130%);
  }
}
.noise {
  width: 100%;
  height: 100%;
  padding: 8px;
  background: linear-gradient(24deg, rgba(50 0 255/10%), CornflowerBlue),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 310' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.55' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation-duration: 1.5s;
  animation-name: shimmer;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .overlay {
    opacity: 0.6;
  }
}

/* section 2 - about */
section.about {
  background-color: #faf7f5;
}
