.fadeout {
  animation: fadeOut 1s ease-out 0.1s forwards !important;
}
@keyframes fadeOut {
  0% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
.fadeIn {
  animation: fadeIn 0.5s 0.8s ease-in forwards;
}

.topBtn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: 100;
}
.topBtn i {
  font-size: 1.8rem;
  color: var(--main-color);
  text-shadow: -0.5px -1.5px 1px #00000012;
}

section {
  /* max-width: 1520px; */
  width: 100%;
  /* height: 100vh; */
}

/* section1 */

section.main_greeting {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main_wrap {
}
.main_greeting article {
  animation: fadeIn 0.5s 0.1s ease-in forwards;
}
.titleS {
  opacity: 0;
  font-size: 1.75rem;
  font-weight: 600;
  animation: fadeIn 0.5s 0.4s ease-in forwards;
}
.desc {
  opacity: 0;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: var(--kor-font);
  animation: fadeIn 0.5s 0.8s ease-in forwards;
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
/* holo graphic */
.titleL {
  margin: 3rem 0;
  font-size: 8rem;
  font-weight: 800;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 1.5s;
  animation-name: cube-rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  /* background-color: #faf7f5eb; */
  background-color: #faf7f5;
}
@keyframes cube-rotate {
  from {
    transform: perspective(600px) rotate3d(0.6, 0.05, 0.2, 0deg);
  }

  to {
    transform: perspective(600px) rotate3d(0.6, 0.05, 0.2, 20deg);
  }
}
@keyframes shimmer {
  from {
    filter: contrast(190%) brightness(500%);
  }

  to {
    filter: contrast(190%) brightness(130%);
  }
}
.noise {
  width: 100%;
  height: 100%;
  padding: 8px;
  background: linear-gradient(24deg, rgba(50 0 255/10%), CornflowerBlue),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 310' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.55' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation-duration: 1.5s;
  animation-name: shimmer;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .overlay {
    opacity: 0.6;
  }
}

/* section 2 - about */
section.about {
  height: 100vh;
  position: relative;
  background-color: #faf7f5;
}

.about_back {
  position: absolute;
  z-index: -1;
  background-color: #faf7f5;
  width: 100%;
  height: 100%;
}

.about_wrap {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  opacity: 0;
}

.about_wrap .title {
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
.about_wrap .title span {
  color: #ddd;
}
.about_wrap .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_wrap .content aside {
  width: 30%;
}
.about_wrap .content article {
  width: 60%;
  font-family: var(--kor-font);
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 190%;
}
.about_wrap .content article p {
  margin-bottom: 1.5rem;
}

/* section - project */
section.project {
  max-width: 1060px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
section.project .project_wrap {
  position: relative;
  height: 1000px;
  text-align: center;
  margin-bottom: 10vh;
}
section.project .back_title {
  font-family: var(--back-font);
  font-size: 4rem;
  color: #ddd;
  letter-spacing: 2px;
  position: sticky;
  top: 33%;
  width: 100%;
  margin-bottom: 6vh;
  z-index: -1;
}
