.fadeout {
  animation: fadeOut 1s ease-out 0.1s forwards !important;
}
@keyframes fadeOut {
  0% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
.fadeIn {
  animation: fadeIn 0.6s 0.6s ease-in forwards;
}

section {
  /* max-width: 1520px; */
  width: 100%;
  /* height: 100vh; */
}

/* section1 */

section.main_greeting {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_wrap {
  width: 90%;
  margin: 0 auto;
}
.main_greeting article {
  animation: fadeIn 0.5s 0.1s ease-in forwards;
}
.titleS {
  opacity: 0;
  font-size: 1.75rem;
  font-weight: 600;
  animation: titleAnim 0.5s 1s ease-in-out forwards;
}
.desc {
  opacity: 0;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: var(--kor-font);
  animation: fadeIn 0.5s 0.8s ease-in forwards;
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
/* holo graphic */
.holo_graphic {
  max-width: 900px;
  margin: 3rem auto 4rem;
  font-weight: 800;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 1.5s;
  animation-name: cube-rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes cube-rotate {
  from {
    transform: perspective(600px) rotate3d(0.6, 0.05, 0.2, 0deg);
  }

  to {
    transform: perspective(600px) rotate3d(0.6, 0.05, 0.2, 20deg);
  }
}
@keyframes shimmer {
  from {
    filter: contrast(190%) brightness(500%);
  }

  to {
    filter: contrast(190%) brightness(130%);
  }
}
.noise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  padding: 8px;
  background: linear-gradient(24deg, rgba(50 0 255/10%), CornflowerBlue),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 310' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.55' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation-duration: 1.5s;
  animation-name: shimmer;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-align: center;
}
.holo_graphic span {
  font-size: 1.75rem;
}
.holo_graphic span.titleL {
  font-size: 8rem;
  line-height: 8.5rem;
}
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: antiquewhite; */
  background-color: #f6f6f7;
  mix-blend-mode: multiply;
}
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .overlay {
    opacity: 0.6;
  }
}

/* section 2 - about */
section#about {
  height: 100vh;
  position: relative;
  /* background-color: #faf7f5; */
  background-color: #f6f6f7;
}
.about_back {
  position: absolute;
  z-index: -1;
  /* background: linear-gradient(357deg, #faf7f5, #faf7f5, #faf7f5d1); */
  background-color: #f6f6f7;
  width: 100%;
  height: 100%;
}
.about_wrap {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  opacity: 0;
}
/* .about_wrap .title {
  opacity: 0;
  animation: titleAnim 0.1s 1.5s ease-in-out forwards;
} */

.about_wrap .title span {
  color: #ddd;
}
.about_wrap .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_wrap .content aside {
  width: 30%;
}
.about_wrap .content article {
  width: 60%;
  font-family: var(--kor-font);
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 190%;
}
.about_wrap .content article p {
  margin-bottom: 1.5rem;
}

/* section - information */
#information {
  height: 100vh;
  font-family: var(--kor-font);
}
#information .info_wrap {
  width: 90%;
  margin: 5rem auto;
  opacity: 0;
}
#information .info_wrap .title {
  margin-bottom: 5rem;
}
#information .info_wrap p {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
#information .info_wrap .flexBox {
  display: flex;
  justify-content: space-around;
}
#information .info_wrap .flexBox li {
  padding-bottom: 1rem;
}
#information .info_wrap .flexBox li span {
  color: #999;
  font-weight: 200;
  padding-right: 1rem;
}
#information .info_wrap .flexBox hr {
  border: 0.3px solid #dddcdc;
  margin: 0;
}
#information .info_wrap .skills {
  text-align: center;
  margin: 6rem auto;
}
#information .info_wrap .skills img {
  height: 1.5rem;
  margin-bottom: 1rem;
}

/* section - project */
#project {
}
section#project {
  max-width: 1060px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
section#project .project_wrap {
  opacity: 0;
  position: relative;
  text-align: center;
  margin-bottom: 10vh;
}
section#project .back_title {
  font-family: var(--back-font);
  font-size: 4rem;
  color: #ddd;
  letter-spacing: 2px;
  position: sticky;
  top: 33%;
  width: 100%;
  margin-bottom: 6vh;
  z-index: -1;
}

/* category */
#project .category {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 4rem 0 2.5rem;
}
#project .category i {
  width: 2rem;
}
#project .category_list {
  display: flex;
}
#project .category_list li {
  color: #e2c49c;
}
#project .category_list li:first-child {
  color: #000;
}
#project .category_list li:hover button {
  color: #000;
}
.select_color {
  color: #000 !important;
}
#project .category_list li button {
  display: inline-block;
  padding: 0 1rem;
}

.project_list {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  opacity: 0;
  padding-bottom: 8rem;
}
.transformList {
  animation: transformList 0.5s 0.7s ease-in-out forwards;
}
@keyframes transformList {
  0% {
    /* transform: translateY(1); */
    transform: translate(0, 20%);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.project_list li {
  position: relative;
  width: 49%;
  max-width: 385px;
  min-height: 20rem;
  box-shadow: 5px 5px 14px rgba(55, 55, 55, 0.1);
  margin-bottom: 9vh;
  background-color: #fff;
  transition: 0.3s;
  border-radius: 0.8rem;
  overflow: hidden;
  /* margin: 0 1rem; */
}
.project_list li .category_name {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #e2c49cc8;
  border-radius: 5px 0 5px 0;
  color: #fff;
  padding: 0.5rem;
}
section#project .project_list .project_img {
  width: 100%;
  height: 55%;
}
section#project .project_list .project_img img {
  width: 100%;
  height: 100%;
}
.project_list li .list_desc {
  margin: 1rem 0;
}
.project_list li .list_desc h3 {
  margin-bottom: 1rem;
}
.project_list li .list_desc p {
  font-weight: 300;
  color: #888;
  font-family: var(--kor-font);
}
/* list hover */
.project_list li:hover .list_overlay {
  position: absolute;
  display: block;
  background-color: #000000b2;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.project_list li:hover::after {
  content: "READ MORE >";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 2.5rem;
  border: 1px solid #fff;
  width: 50%;
  padding: 0.5rem 0.3rem;
  cursor: pointer;
  pointer-events: none;
}
