.fadeout {
  animation: fadeOut 1s ease-out 0.1s forwards !important;
}
@keyframes fadeOut {
  0% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
.fadeIn {
  animation: fadeIn 0.5s 0.8s ease-in forwards;
}

.topBtn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: 100;
}
.topBtn i {
  font-size: 1.8rem;
  color: var(--main-color);
  text-shadow: -0.5px -1.5px 1px #00000012;
}

section {
  /* max-width: 1520px; */
  width: 100%;
  /* height: 100vh; */
}

/* section1 */

section.main_greeting {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_wrap {
}
.main_greeting article {
  animation: fadeIn 0.5s 0.1s ease-in forwards;
}
.titleS {
  opacity: 0;
  font-size: 1.75rem;
  font-weight: 600;
  animation: fadeIn 0.5s 0.4s ease-in forwards;
}
.desc {
  opacity: 0;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: var(--kor-font);
  animation: fadeIn 0.5s 0.8s ease-in forwards;
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
/* holo graphic */
.holo_graphic {
  margin: 3rem 0;
  font-weight: 800;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 1.5s;
  animation-name: cube-rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes cube-rotate {
  from {
    transform: perspective(600px) rotate3d(0.6, 0.05, 0.2, 0deg);
  }

  to {
    transform: perspective(600px) rotate3d(0.6, 0.05, 0.2, 20deg);
  }
}
@keyframes shimmer {
  from {
    filter: contrast(190%) brightness(500%);
  }

  to {
    filter: contrast(190%) brightness(130%);
  }
}
.noise {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 8px;
  background: linear-gradient(24deg, rgba(50 0 255/10%), CornflowerBlue),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 310' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.55' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation-duration: 1.5s;
  animation-name: shimmer;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.holo_graphic span {
  font-size: 1.75rem;
}
.holo_graphic span.titleL {
  font-size: 8rem;
  line-height: 10rem;
}
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: antiquewhite;
  mix-blend-mode: multiply;
}
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .overlay {
    opacity: 0.6;
  }
}

/* section 2 - about */
section#about {
  height: 100vh;
  position: relative;
  background-color: #faf7f5;
}

.about_back {
  position: absolute;
  z-index: -1;
  background: linear-gradient(357deg, #faf7f5, #faf7f5, #faf7f53d);
  width: 100%;
  height: 100%;
}

.about_wrap {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  opacity: 0;
}

.about_wrap .title {
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
.about_wrap .title span {
  color: #ddd;
}
.about_wrap .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_wrap .content aside {
  width: 30%;
}
.about_wrap .content article {
  width: 60%;
  font-family: var(--kor-font);
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 190%;
}
.about_wrap .content article p {
  margin-bottom: 1.5rem;
}

/* section - project */
#project {
}
section#project {
  max-width: 1060px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
section#project .project_wrap {
  position: relative;
  text-align: center;
  margin-bottom: 10vh;
}
section#project .back_title {
  font-family: var(--back-font);
  font-size: 4rem;
  color: #ddd;
  letter-spacing: 2px;
  position: sticky;
  top: 33%;
  width: 100%;
  margin-bottom: 6vh;
  z-index: -1;
}

/* category */
#project .category {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0 2.5rem;
}
#project .category i {
  width: 2rem;
}
#project .category_list {
  display: flex;
}
#project .category_list li {
  color: #e2c49c;
}
#project .category_list li:first-child {
  color: #000;
}
#project .category_list li:hover button {
  color: #000;
}
.select_color {
  color: #000 !important;
}
#project .category_list li button {
  display: inline-block;
  padding: 0 1rem;
}

.project_list {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.project_list li {
  position: relative;
  width: 50%;
  max-width: 385px;
  box-shadow: 5px 5px 14px rgba(55, 55, 55, 0.1);
  margin-bottom: 9vh;
  background-color: #fff;
  transition: 0.3s;
  border-radius: 0.8rem;
  overflow: hidden;
  margin: 0 1rem;
}
.project_list li .list_desc {
  margin: 1rem 0;
}
.project_list li .list_desc h3 {
  margin-bottom: 1rem;
}
.project_list li .list_desc p {
  font-weight: 300;
  color: #888;
  font-family: var(--kor-font);
}
/* list hover */
.project_list li:hover .list_overlay {
  position: absolute;
  display: block;
  background-color: #000000b2;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.project_list li:hover::after {
  content: "READ MORE >";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 2.5rem;
  border: 1px solid #fff;
  width: 40%;
  padding: 0.8rem 0;
  cursor: pointer;
}
